* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none !important;
}

body {
  margin: 0px;
  padding: 0px;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0px;
  padding: 0px;
}

ol,
ul,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: block;
}

ol li,
ul li,
li li {
  list-style-type: none;
}

a {
  text-decoration: none !important;
  outline: none !important;
  color: #3ab3e5;
}

a:hover {
  color: #483a3b;
}

button {
  outline: none !important;
  cursor: pointer;
  background: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

a img {
  border: 0;
  padding: 0;
}

img {
  border: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #312b2b;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

.navbar {
  background: #3b7291;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 60px;
  z-index: 11;
  padding: 0;
}

.navbar .navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 30px;
}

.navbar .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.navbar .nav-link .nav-icon {
  display: block;
  background: #fff;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  line-height: 55px;
  text-align: center;
}

.navbar .nav-link .nav-icon svg {
  color: #ccc;
}

.navbar .active .nav-icon svg {
  color: #3b7291;
}

.main-wrapper {
  margin-bottom: 100px;
}

.custom-container {
  padding: 0 30px;
  max-width: 1140px;
  width: 100%;
}

.claim-button {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-weight: 22px;
  background: #2b5679;
  padding: 15px 0;
  text-align: center;
  width: 100%;
}

.claim-button:hover {
  background: #666;
  color: #fff;
}

.main-header {
  background: #3b6387;
  margin: 0 0 20px 0;
}

.main-header .header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0 15px 0;
}

.main-header .user-thumb {
  /*  height: 100px; */
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 50px 0 0;
}

.main-header .user-thumb .plus-icon {
  position: absolute;
  background: #2b5679;
  color: #fff;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  right: -10px;
  bottom: 10px;
}

.main-header .user-thumb .plus-icon:hover {
  background: #666;
  color: #fff;
}

.main-header .user-thumb figure {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: 0 0 10px 0;
  position: relative;
}

.main-header .user-thumb figure img {
  width: 100%;
  border-radius: 50%;
  height: 70px;
}

.main-header .user-thumb .name {
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

.main-header .user-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.main-header .user-stats span {
  color: #fff;
  font-size: 14px;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.main-header .logo {
  background: url(../images/logo.jpg) no-repeat;
  display: inline-block;
  width: 115px;
  height: 70px;
  background-size: 100%;
}

.main-header .login-signup-link {
  color: #fff;
  margin-left: auto;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
}

.user-card {
  margin: 0 0 20px 0;
}

.user-card__header {
  background: #3b7291;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 10px 0;
}

.user-card__header .left-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
}

.user-card__header .left-cols .number {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  color: #3b7291;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  display: block;
  line-height: 60px;
  margin-right: 10px;
}

.user-card__header .left-cols p {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

.user-card__header .add-stats-btn {
  color: #fff;
  text-align: right;
}

.user-card__header .add-stats-btn span {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
}

.user-card__body {
  margin: 0 0 10px 0;
}

.user-card__body .cover-img-holder img {
  width: 100%;
}

.user-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-card__footer .item {
  width: 33%;
  background: #ebeef3;
  height: 35px;
  text-transform: uppercase;
  font-size: 11px;
  color: #3b7291;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

.user-card__footer .item svg {
  margin-right: 5px;
}

.user-stats-card {
  margin: 0 0 20px 0;
}

.user-stats-card__head {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #d9e2e9;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.user-stats-card__head h1 {
  color: #3b7291;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
}

.user-stats-card__head .content-rate-btn {
  display: inline-block;
  border-radius: 50px;
  background: #fff;
  padding: 8px 0;
  text-transform: uppercase;
  color: #3b7291;
  font-weight: 700;
  font-size: 13px;
  width: 150px;
  text-align: center;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.user-stats-card .card-head-pink {
  background: #fad6d6;
}

.user-stats-card .card-body-pink {
  background: #fceae8;
}

.user-stats-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background: #ebeef3;
}

.user-stats-card__body .left {
  width: 50%;
}

.user-stats-card__body .left p {
  color: #3b7291;
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 500;
}

.user-stats-card__body .figure-holder {
  width: 50%;
}

.user-stats-card__body .figure-holder img {
  width: 100%;
}

.about-content h2 {
  margin-bottom: 10px;
  font-weight: 700;
  color: #666;
  font-size: 16px;
}

.about-content p {
  margin-bottom: 20px;
  color: #666;
  font-size: 14px;
}

.about-content ul {
  margin-bottom: 20px;
}

.about-content ul li {
  margin-bottom: 10px;
  color: #666;
  font-size: 14px;
  position: relative;
  padding-left: 15px;
}

.about-content ul li:before {
  position: absolute;
  content: "";
  height: 1px;
  width: 5px;
  left: 0;
  top: 9px;
  background: #666;
}

.about-content .founders h3 {
  margin-bottom: 20px;
  font-weight: 700;
  color: #666;
  font-size: 16px;
}

.about-content .founders__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-content .founders__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-content .founders__item figure {
  margin-bottom: 10px;
}

.about-content .founders__item figure img {
  width: 100%;
}

.about-content .founders__item .name {
  color: #3b7291;
  font-weight: 500;
  font-size: 14px;
}

#add-stats-modal .modal-header {
  border: 0;
  padding: 10px 15px;
}

#add-stats-modal .modal-dialog {
  border: 1px solid #3b7291;
  background: rgba(255, 255, 255, 0.7);
}

#add-stats-modal .modal-content {
  border-radius: 0;
}

#add-stats-modal .form-group {
  margin: 0 0 10px 0;
}

#add-stats-modal .input-group {
  margin: 0 0 10px 0;
  border: 1px solid #3b7291;
}

#add-stats-modal .input-group .input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  padding: 0;
  border: 0;
}

#add-stats-modal .input-group .input-group-text svg {
  fill: #3b7291;
  margin: 10px;
}

#add-stats-modal .form-control {
  border-radius: 0;
  text-transform: uppercase;
  color: #3b7291;
  font-size: 14px;
  height: 40px;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#add-stats-modal .form-control::-webkit-input-placeholder {
  color: #3b7291;
}

#add-stats-modal .form-control:-ms-input-placeholder {
  color: #3b7291;
}

#add-stats-modal .form-control::-ms-input-placeholder {
  color: #3b7291;
}

#add-stats-modal .form-control::placeholder {
  color: #3b7291;
}

#add-stats-modal .submit-button {
  background: #3b7291;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  height: 35px;
  width: 100%;
}

.rating-star {
  width: 150px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  padding: 0;
  border-radius: 50px;
  background: #fff;
  position: absolute;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rating-star .ratingW {
  position: relative;
  margin: 10px 0 0;
}

.rating-star .ratingW li {
  display: inline-block;
  margin: 0px;
}

.rating-star .ratingW li a {
  display: block;
  position: relative;
}

.rating-star .star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1.2em;
  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid #ddd;
  border-left: 0.3em solid transparent;
  font-size: 10px;
}

.rating-star .star:before,
.rating-star .star:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0.6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #ddd;
  border-left: 1em solid transparent;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.rating-star .star:after {
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.rating-star .ratingW li.on .star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1.2em;
  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid #fc0;
  border-left: 0.3em solid transparent;
  font-size: 10px;
}

.rating-star .ratingW li.on .star:before,
.rating-star .ratingW li.on .star:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0.6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #fc0;
  border-left: 1em solid transparent;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.rating-star .ratingW li.on .star:after {
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
/*# sourceMappingURL=style-en.css.map */