@import "base/reset";
@import "partials/variables";

body {
  font-family: $font-primary;
  color: #312b2b;
}
h1,
h2,
h3 {
}
a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

.navbar {
  background: $brand-color;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 60px;
  z-index: 11;
  padding: 0;

  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;

    .nav-icon {
      display: block;
      background: $white-color;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      line-height: 55px;
      text-align: center;
      svg {
        color: #ccc;
      }
    }
  }
  .active {
    .nav-icon {
      svg {
        color: $brand-color;
      }
    }
  }
}

.main-wrapper {
  margin-bottom: 100px;
}
.custom-container {
  padding: 0 30px;
  max-width: 1140px;
  width: 100%;
}
.claim-button {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-weight: 22px;
  background: #2b5679;
  padding: 15px 0;
  text-align: center;
  width: 100%;
  &:hover {
    background: #666;
    color: #fff;
  }
}

.main-header {
  background: #3b6387;
  margin: 0 0 20px 0;

  .header-body {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 0;
  }
  .user-thumb {
    /*  height: 100px; */
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 50px 0 0;

    .plus-icon {
      position: absolute;
      background: #2b5679;
      color: $white-color;
      border-radius: 5px;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      display: inline-block;
      right: -10px;
      bottom: 10px;
      &:hover {
        background: #666;
        color: #fff;
      }
    }
    figure {
      border-radius: 50%;
      height: 70px;
      width: 70px;
      margin: 0 0 10px 0;
      position: relative;

      img {
        width: 100%;
        border-radius: 50%;
        height: 70px;
      }
    }
    .name {
      color: $white-color;
      font-size: 14px;
      text-align: center;
      font-weight: 500;
    }
  }
  .user-stats {
    display: flex;
    justify-content: space-between;
    width: 80%;
    span {
      color: $white-color;
      font-size: 14px;
      display: block;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .logo {
    background: url(../images/logo.jpg) no-repeat;
    display: inline-block;
    width: 115px;
    height: 70px;
    background-size: 100%;
  }
  .login-signup-link {
    color: $white-color;
    margin-left: auto;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
  }
}

.user-card {
  margin: 0 0 20px 0;
  &__header {
    background: $brand-color;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;

    .left-cols {
      display: flex;
      align-items: center;
      height: 65px;
      .number {
        width: 60px;
        height: 60px;
        background: $white-color;
        border-radius: 50%;
        color: $brand-color;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        display: block;
        line-height: 60px;
        margin-right: 10px;
      }
      p {
        font-size: 14px;
        color: $white-color;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
    .add-stats-btn {
      color: $white-color;
      text-align: right;
      span {
        display: block;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }

  &__body {
    margin: 0 0 10px 0;
    .cover-img-holder {
      img {
        width: 100%;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;

    .item {
      width: 33%;
      background: #ebeef3;
      height: 35px;
      text-transform: uppercase;
      font-size: 11px;
      color: $brand-color;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      svg {
        margin-right: 5px;
      }
    }
  }
}

.user-stats-card {
  margin: 0 0 20px 0;
  &__head {
    padding: 10px 20px;
    display: flex;
    background: #d9e2e9;
    justify-content: space-between;
    align-items: center;
    position: relative;
    h1 {
      color: $brand-color;
      font-size: 15px;
      font-weight: 700;
      text-transform: capitalize;
    }
    .content-rate-btn {
      display: inline-block;
      border-radius: 50px;
      background: #fff;
      padding: 8px 0;
      text-transform: uppercase;
      color: $brand-color;
      font-weight: 700;
      font-size: 13px;
      width: 150px;
      text-align: center;
      box-shadow: 0 0 4px rgba($black-color, 0.2);
    }
  }
  .card-head-pink {
    background: #fad6d6;
  }
  .card-body-pink {
    background: #fceae8;
  }
  &__body {
    display: flex;
    padding: 20px;
    background: #ebeef3;
    .left {
      width: 50%;
      p {
        color: $brand-color;
        font-size: 15px;
        margin-bottom: 10px;
        font-weight: 500;
      }
    }

    .figure-holder {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}

.about-content {
  h2 {
    margin-bottom: 10px;
    font-weight: 700;
    color: #666;
    font-size: 16px;
  }
  p {
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
  }
  ul {
    margin-bottom: 20px;
    li {
      margin-bottom: 10px;
      color: #666;
      font-size: 14px;
      position: relative;
      padding-left: 15px;
      &:before {
        position: absolute;
        content: "";
        height: 1px;
        width: 5px;
        left: 0;
        top: 9px;
        background: #666;
      }
    }
  }
  .founders {
    h3 {
      margin-bottom: 20px;
      font-weight: 700;
      color: #666;
      font-size: 16px;
    }
    &__body {
      display: flex;
      justify-content: center;
    }
    &__item {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      width: 40%;
      display: flex;
      figure {
        margin-bottom: 10px;
        img {
          width: 100%;
        }
      }
      .name {
        color: $brand-color;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
}

#add-stats-modal {
  .modal-header {
    border: 0;
    padding: 10px 15px;
  }
  .modal-dialog {
    border: 1px solid $brand-color;
    background: rgba($white-color, 0.7);
  }
  .modal-content {
    border-radius: 0;
  }
  .form-group {
    margin: 0 0 10px 0;
  }
  .input-group {
    margin: 0 0 10px 0;
    border: 1px solid $brand-color;

    .input-group-text {
      display: flex;
      background: none;
      padding: 0;
      border: 0;

      svg {
        fill: $brand-color;
        margin: 10px;
      }
    }
  }
  .form-control {
    border-radius: 0;
    text-transform: uppercase;
    color: $brand-color;
    font-size: 14px;
    height: 40px;
    border: 0;
    box-shadow: none;
    &::placeholder {
      color: $brand-color;
    }
  }
  .submit-button {
    background: $brand-color;
    color: $white-color;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    height: 35px;
    width: 100%;
  }
}

.rating-star {
  width: 150px;
  box-shadow: 0 0 4px rgba($black-color, 0.2);
  padding: 0;
  border-radius: 50px;
  background: #fff;
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  .ratingW {
    position: relative;
    margin: 10px 0 0;
  }
  .ratingW li {
    display: inline-block;
    margin: 0px;
  }
  .ratingW li a {
    display: block;
    position: relative;
  }
  .star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.9em;
    margin-right: 0.9em;
    margin-bottom: 1.2em;
    border-right: 0.3em solid transparent;
    border-bottom: 0.7em solid #ddd;
    border-left: 0.3em solid transparent;
    font-size: 10px;
  }
  .star:before,
  .star:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0.6em;
    left: -1em;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid #ddd;
    border-left: 1em solid transparent;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  .star:after {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  .ratingW li.on .star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.9em;
    margin-right: 0.9em;
    margin-bottom: 1.2em;
    border-right: 0.3em solid transparent;
    border-bottom: 0.7em solid #fc0;
    border-left: 0.3em solid transparent;
    font-size: 10px;
  }
  .ratingW li.on .star:before,
  .ratingW li.on .star:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0.6em;
    left: -1em;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid #fc0;
    border-left: 1em solid transparent;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  .ratingW li.on .star:after {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
}
