* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none !important;
}
body {
  margin: 0px;
  padding: 0px;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0px;
  padding: 0px;
}

ol,
ul,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: block;
  li {
    list-style-type: none;
  }
}
a {
  text-decoration: none !important;
  outline: none !important;
  color: #3ab3e5;
  &:hover {
    color: #483a3b;
  }
}

button {
  outline: none !important;
  cursor: pointer;
  background: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
a img {
  border: 0;
  padding: 0;
}
img {
  border: 0;
  padding: 0;
}
